/**
 * Primary Layout
 */
html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-5;
  font-family: $sans-serif;
  color: $mid-gray;
}

#root {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

/**
	* Global Elemnet Styling
	*/

iframe {
  border: 0;
  max-width: 100%;
}

input,
textarea {
  &:focus {
    outline: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
}

svg {
  max-width: 100%;
  box-sizing: border-box;
}

/**
	* Interior CMS styles
	*/

.post-content {
  @import "./_wordpress.scss";

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  dl,
  table {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Header and Footer styles
 */

.nested-menu {
  .current-item {
    color: $primary;
  }
}
